.THIS {
    /* background-color: black; */
}

.THIS.resultDataList {
    /* background-color: red; */
    color: red;
    list-style-type: none;
    padding: 55px;
    /* margin-bottom: 100px; */
}

.THIS.carouselWrapper {
    border: 3px solid seagreen;
    margin-bottom: 120px;
    padding: 50px;
}
.THIS.carousel_img {
    border: 3px solid red;
    padding: 50px;
}