.THIS.resultDataList {
    color: red;
    list-style-type: none;
    padding: 55px;
}

.THIS.carouselWrapper {
    border: 6px solid black;
    background-color: #a8e063;
    margin-bottom: 120px;
    padding: 150px;
}

.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}